<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>url</key>
	<string>https://api.tfl.gov.uk/Line/Mode/tube/Status</string>
	<key>app_id</key>
	<string>190b8a614f934a028f0c14e4e05bf67a</string>
	<key>app_key</key>
	<string>436d923f100c43009c501ae974a82513</string>
</dict>
</plist>
